<div class="road-map">
  <div class="heading">
    <h1>Issue Tracker</h1>
    <p>The AnguHashBlog's Issue Tracker serves as a vital tool for collaborators within our open-source community,
      providing a centralized overview of feature implementation across different application versions.</p>
    <p>As explained in multiple places, when an issue exists in one app version, the same implementation should be
      applied across all app versions until a better implementation is accepted for global use across all apps.</p>
    <p>From here collaborators can easily navigate to an existing implementation's PR, after choosing an issue to work
      on, and reuse the code from the other app version.</p>
    <p>Some links of features that have not been implemented will not lead to a specific issue but rather to the issues
      tab on the relevant app. This means that the issue has not yet been documented for that app version. Collaborators
      need to document the issue before starting to work on it.</p>
    <h2>Always double-check if an implementation exists BEFORE starting to work on an issue since information is
      manually updated and can occasionally be outdated.</h2>
    <h2>Always check the most current code since sometimes adjustments were made after the PR was submitted.</h2>
  </div>

<mat-card>
  <form [formGroup]="filterForm">
    <mat-form-field>
      <input matInput formControlName="filter" type="text" placeholder="Search...">

      <button mat-mini-fab matSuffix matTooltip="Filter" matTooltipPosition="above" (click)="filterResults()">
        <mat-icon >search</mat-icon>
      </button>

      <button mat-mini-fab matSuffix matTooltip="Clear Filter" matTooltipPosition="above" (click)="clearFilter()">
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-form-field>

  </form>

  <table>
    <thead>
      <tr>
        <th>✨ Feature</th>
        <th>Angular PrimeNG</th>
        <th>Analog</th>
      </tr>
    </thead>
    <tbody>
      @for (feature of filteredAppFeatures; track feature) {
      <tr>
        <td>
          <p>{{feature.name}}</p>
        </td>
        @for (app of feature.app; track app) {
        @if (app.status) {
        <td>
          <a href="{{app.issueLink}}" target="_blank" rel="noopener noreferrer">
            <mat-icon class="done">check_circle</mat-icon>
          </a>
        </td>
        } @else {
        <td>
          <a href="{{app.issueLink}}" target="_blank" rel="noopener noreferrer">
            <mat-icon class="missing">cancel</mat-icon>
          </a>
        </td>
        }
        }
      </tr>
      }
    </tbody>
  </table>

</mat-card>
</div>
