.dos-donts {
  width: 60vw;
  margin-bottom: 2rem;

  p {
    font-size: 1.1rem;
    width: 70%;
    margin-bottom: 1.5rem;
  }

  .section {
    margin-bottom: 2rem;

    h2 {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      mat-icon {
        background-color: green;
        border-radius: 0.3rem;

        &.error {
          background-color: red;
          border-radius: 50%;
        }
      }
    }

    mat-accordion {
      mat-expansion-panel {
        margin: 0.5rem 0;

        mat-expansion-panel-header {
          height: 3.3rem;

          mat-panel-title {
            h2 {
              font-size: 1.2rem;;
              font-weight: 400;
              margin: 0;
            }
          }
        }

        p {
          width: 100%;
        }

        .link-area {
          display: flex;
          gap: 0.5rem;
          align-items: baseline;

          p {
            margin: 0;
          }

          a {
            font-weight: 500;
            font-size: 1rem;
          }
        }

      }
    }
  }
}

@media (max-width: 600px) {
  .dos-donts {
    width: 90vw;
    margin-bottom: 1rem;

    p {
      width: 100%;
    }

    .section {
      mat-accordion{
        mat-expansion-panel {
          mat-expansion-panel-header {
            height: 4rem;
          }
        }
      }
    }
  }
}
