<div class="home">
  <div class="video-wrapper">
    @if (themeService.themeSignal() === 'dark') {
      <video #myVideo src="../../../assets/animation/anguhashblog-animation.mp4" autoplay loop muted
        [volume]="videoVolume"></video>
    } @else {
      <video #myVideo src="../../../assets/animation/anguhashblog-animation-light.mp4" autoplay loop muted
        [volume]="videoVolume"></video>
    }
  </div>
  <div class="content">
    <h2>Overview</h2>
    <div class="heading">
      <h3>The AnguHashBlog Project</h3>
      <small>formarly known as <i>Angular Headless Hashnode</i></small>
    </div>
    <p>Seamlessly connects your Angular or Analog application to the Hashnode GraphQL
      API, providing a template integration with a headless Hashnode setup.</p>
    <p>In other words - this project is very much like the starter kit that Hashnode provides, except that this project
      uses Angular / Analog.</p>
    <h2>Project Features</h2>
    <ul>
      @for (feature of features; track feature) {
      <li>{{feature.name}}</li>
      }
    </ul>
    <h2>Setup & Tech</h2>
    <ul>
      @for (techItem of tech; track techItem) {
      <li><a href="{{techItem.link}}" target="_blank" rel="noopener noreferrer">{{techItem.linkName}}</a> {{techItem.name}}
      </li>
      }
    </ul>
  </div>
</div>
