.home {
  width: 45vw;
  margin-bottom: 2rem;



  .content {
    .welcome {
      display: flex;
      margin-bottom: 1rem;

      .heading {
        h2 {
          margin: 1.5rem 0 0;
        }
      }

      .video-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 1rem;

        video {
          width: 20vw;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .video-wrapper {
      video {
        width: 90vw;
      }
    }

    .content {
      width: 90vw;

      h2 {
        font-size: 1.8rem;
      }

      p {
        font-size: 1.2rem;
        line-height: 1.5rem;
      }

      ul {
        margin: 0;

        li {
          font-size: 1.2rem;
          line-height: 1.5rem;
        }
      }
    }
  }
}
