<section class="contribute">
  <div class="content">
    <h2>Contribute to AnguHashBlog Open Source Project</h2>
    <p>We welcome you to contribute to the AnguHashBlog Open Source project and be part of shaping the future of
      Angular-based headless Hashnode blogs. Your contributions play a crucial role in enhancing the project's features
      and benefits.</p>

    <h3>Why Contribute?</h3>
    <p>Contributing to AnguHashBlog is an opportunity to actively shape and improve the project. Your input will be
      valued in our collaborative environment, where discussions and ideas are encouraged.</p>

    <h3>Ready to Contribute?</h3>
    <p>Visit our <a href="https://github.com/AnguHashBlog" target="_blank">AnguHashBlog GitHub Organization</a> to explore the project, review existing
      issues, and contribute to the development. You can read more about the development on the project and share your thoughts in <a href="https://github.com/orgs/AnguHashBlog/discussions/2" target="_blank">Discussions</a>.</p>

    <p>Join us in making AnguHashBlog the go-to Angular template for headless Hashnode blogs!</p>
  </div>
</section>
