.road-map {
  margin-bottom: 2rem;

  .heading {
    width: 55vw;
    margin: 0 auto;

    h1 {
      text-align: center;
    }
  }

  mat-card {
    width: 65vw;
    padding: 1rem;

    form {
      mat-form-field {
        width: 100%;
      }

      button {
        margin: 0 0.5rem;
      }
    }

    table {
      border-collapse: collapse;
      border: 1px solid gray;

      th {
        font-size: 1rem;
        font-weight: 500;
        padding: 0.5rem 1rem;
        border: 1px solid gray;
      }

      td {
        text-align: center;
        min-width: 5vw;
        padding: 0.5rem 1rem;
        border: 1px solid gray;

        &:first-child {
          text-align: left;
          min-width: 20vw;

          p {
            font-size: 0.95rem;
            margin: 0;
          }
        }

        mat-icon {
          font-size: 1.2rem;

          &.done {
            color: green;
          }

          &.missing {
            color: red;
          }
        }
      }
    }
  }

  mat-accordion {

    mat-expansion-panel {
      mat-expansion-panel-header {
        mat-panel-title {
          h2 {
            margin: 0;
          }
        }
      }


    }
  }
}
