<div class="contributing page">
  <h1>Contributing to AnguHashBlog</h1>
  <p>First off, thanks for taking the time to contribute! ❤️</p>
  <p>All types of contributions are encouraged and valued. Please make sure to read the relevant section before making
    your contribution. It will make it a lot easier for us maintainers and smooth out the experience for all involved.
    The community looks forward to your contributions. 🎉</p>

  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel #codeOfConduct [id]="'code-of-conduct'" [expanded]="currentPanelId === 'code-of-conduct'">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Code of Conduct</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>This project and everyone participating in it is governed by the <a routerLink="/code-of-conduct">Code of
          Conduct</a>. By participating, you are expected to uphold this code. Please report unacceptable behavior to <a
          href="https://github.com/monacodelisa" target="_blank" rel="noopener noreferrer">monacodelisa</a>.</p>
    </mat-expansion-panel>

    <mat-expansion-panel #questionOrProblem [id]="'question-or-problem'"
      [expanded]="currentPanelId === 'question-or-problem'">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Question or Problem?</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Do not open issues for general support questions as we want to keep GitHub issues for bug reports and feature
        requests. Instead, we recommend using <a href="https://github.com/orgs/AnguHashBlog/discussions" target="_blank" rel="noopener noreferrer">Discussions</a> or <a href="https://discord.gg/MZX8Pm6q" target="_blank" rel="noopener noreferrer">Discord</a> to ask support-related questions.</p>
    </mat-expansion-panel>

    <mat-expansion-panel #featuresVsBugs [id]="'features-vs-bugs'" [expanded]="currentPanelId === 'features-vs-bugs'">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Issues - Features vs Bugs</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Not all issues are bug fixes! Please understand the difference between a Feature and a Bug when it comes to
        issue creation.</p>
      <ul>
        <li><span>FEATURE</span> - when you are implementing something new that has not been worked on before</li>
        <li><span>BUG</span> - when you are correcting something that has been worked on before </li>
      </ul>
      <p>Example:</p>
      <ul>
        <li>Responsiveness - when you start working on responsiveness, if no one has done anything related to
          responsiveness throughout a view or the entire app, then you are working on a feature and not a bug.</li>
      </ul>
    </mat-expansion-panel>

    <mat-expansion-panel #openIssueFirst [id]="'open-issue-first'"
    [expanded]="currentPanelId === 'open-issue-first'">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2>For all Issues - first open an issue and outline your proposal so that it can be discussed.</h2>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>This process allows us to better coordinate our efforts, prevent duplication of work, and help you to craft the change so that it is successfully accepted into the project.</p>
  </mat-expansion-panel>

    <mat-expansion-panel #submittingAnIssue [id]="'submitting-an-issue'" [expanded]="currentPanelId === 'submitting-an-issue'">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Submitting an Issue</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Before opening an issue, please check the tracker to see if a similar issue has been raised. Existing
        discussions may provide useful insights or workarounds.</p>
      <p>Evaluate whether the Issue is a <span>Feature</span> or a <span>Bug</span> and submit the correct issue type.
        You can file new issues by selecting from our new issue templates and filling out the issue template.</p>
      <p>To expedite bug fixes, a minimal reproduction of the issue is required. This concise example helps in swiftly
        identifying and addressing the problem.</p>
      <p>Providing a minimal reproduction is crucial for saving time, increasing the chances of a quick resolution, and
        ensuring that focus is given to the correct issue.</p>
      <hr />
      <p>DO NOT erase the provided issue template! It is intended for you to use, not to replace it with random text.</p>
      <hr />
      <p>It is always a good practice to look up existing issues and ensure your new issue matches the established
        format. This helps maintain consistency and makes it easier for others to understand and collaborate on the
        issue.</p>
    </mat-expansion-panel>

    <mat-expansion-panel #needsTriageLabel [id]="'needs-triage-label'" [expanded]="currentPanelId === 'needs-triage-label'">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>'Needs Triage' issue label</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p> Every new issue is tagged with the "needs triage" label, signifying that it requires review and assessment by
        a core team member. This process ensures that issues are appropriately prioritized and assigned, fostering a
        collaborative environment where tasks are synchronized to prevent conflicts. While you focus on addressing an
        issue, it's important to recognize that others may be working on related tasks. Therefore, the "needs triage"
        label serves as a precautionary measure, indicating that the issue is not yet ready for immediate attention. The
        issue will be ready to work on, once the "needs triage" label is removed.</p>
    </mat-expansion-panel>

    <mat-expansion-panel #standardization [id]="'standardization'" [expanded]="currentPanelId === 'standardization'">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Standardization Across App Versions</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>All app versions maintain consistent file structures, functionalities, and feature implementations deliberately. The variations between versions are minimal, primarily revolving around the utilization of UI components where a UI library is used.</p><p>Once an issue has been resolved in one app version, the same implementation must be extended to all other versions, unless a superior alternative is proposed.</p><p> Any new implementation suggestion must be discussed to verify they are suitable for adoption across all app versions.</p>
    </mat-expansion-panel>

    <mat-expansion-panel #beforeIssueStart [id]="'before-issue-start'" [expanded]="currentPanelId === 'before-issue-start'">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Before you start working on an Issue</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Before commencing work on any issue, it is essential to confirm that it has not already been addressed. Utilize the <a routerLink="/issue-picker">Issue Picker</a> tool to check for existing implementations and their corresponding app versions. If the chosen issue has already been resolved in a different app version, consult the Issue Picker to review the existing implementation and replicate it accordingly.</p>
      <p>Even if the issue is labeled as not implemented, it remains your responsibility to examine the app's codebase and confirm the absence of the issue.</p>
    </mat-expansion-panel>

    <mat-expansion-panel #submittingPR [id]="'submitting-pr'" [expanded]="currentPanelId === 'submitting-pr'">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Submitting a Pull Request (PR)</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Before you submit your Pull Request (PR) consider the following guidelines:</p>
      <ol>
        <li>Search <a href="https://github.com/AnguHashBlog" target="_blank" rel="noopener noreferrer">AnguHashBlog</a>
          for an open or closed PR that relates to your submission. You don't want to duplicate existing efforts.
        </li>
        <li>Be sure that an issue describes the problem you're fixing, or documents the design for the feature you'd
          like to add. Discussing the design upfront helps to ensure that we're ready to accept your work.</li>
        <li><a
            href="https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/working-with-forks/fork-a-repo"
            target="_blank" rel="noopener noreferrer">Fork</a> the AnguHashBlog repo of your choice.</li>
        <li>In your forked repository, make your changes in a new git branch:
          <pre><code>git checkout -b my-fix-branch develop</code></pre>
          <p>The default branch is develop</p>
        </li>
        <li>Create your patch, including appropriate test cases.</li>
        <li>Follow the Coding Standards</li>
        <li>Run the full test suite, as described in the developer documentation, and ensure that all tests pass.
        </li>
        <li>Commit your changes using a descriptive commit message following the Commit Message Guidelines
          <pre><code>git commit --all</code></pre>
          <p>Note: the optional commit --all command line option will automatically "add" and "rm" edited files.</p>
        </li>
        <li>Push your branch to GitHub:
          <pre><code>git push origin my-fix-branch</code></pre>
        </li>
        <li>In GitHub, send a pull request to <span>AnguHashBlog/angular:develop</span></li>
      </ol>
      <hr />
      <p>DO NOT erase the provided PR template! It is intended for you to use, not to replace it with random text.</p>
      <hr />
      <p>It is always a good practice to look up already merged PRs and ensure your new PR matches the established
        format. This helps maintain consistency and makes it easier for others to understand and collaborate.</p>
    </mat-expansion-panel>


    <mat-expansion-panel #reviewingPR [id]="'reviewing-pr'" [expanded]="currentPanelId === 'reviewing-pr'">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Reviewing a Pull Request</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>I reserve the right not to accept pull requests from community members who haven't been good citizens of the
        community.</p>
      <h4>After your pull request is merged</h4>
      <ol>
        <li>Delete the remote branch on GitHub either through the GitHub web UI or your local shell as follows:
          <pre><code>git push origin --delete my-fix-branch</code></pre>
        </li>
        <li>Check out the develop branch:
          <pre><code>git checkout develop -f</code></pre>
        </li>
        <li>Delete the local branch:
          <pre><code>git branch -D my-fix-branch</code></pre>
        </li>
        <li>Update your local develop with the latest upstream version:
          <pre><code>git pull --ff upstream develop</code></pre>
        </li>
      </ol>
    </mat-expansion-panel>

    <mat-expansion-panel #fileStructure [id]="'file-structure'" [expanded]="currentPanelId === 'file-structure'">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>File Structure</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <h3>Components</h3>
      <p>Store full components that can be used on their own, in the components folder, examples include:</p>
      <p>• header, footer, posts, series, post-details, layout, sidenav</p>
      <h3>Partial Components</h3>
      <p>Place partial components like dialogs and other smaller reusable components, in the partials folder, examples:
      </p>
      <p>• settings-dialog, follow-dialog, search-dialog, svg-icon</p>
      <h3>Interfaces</h3>
      <p>Keep interfaces in the models folder, examples:</p>
      <p>• blog-info.ts, post.ts</p>
      <p>• Avoid duplicating existing interfaces or importing them in the wrong file.</p>
      <h3>Services</h3>
      <p>Place services in the services folder, examples:</p>
      <p>• blog.service.ts, theme.service.ts</p>
      <h3>Custom - Pipes, Directives</h3>
      <p>Custom pipes to be placed in the pipes folder</p>
      <p>Custom directives to be placed in the directives folder</p>
    </mat-expansion-panel>

    <mat-expansion-panel #codingStandards [id]="'coding-standards'" [expanded]="currentPanelId === 'coding-standards'">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Coding Standards</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <h3>Naming Conventions</h3>
      <ul>
        <li>For dialogs, ensure the inclusion of the term dialog in the name.</li>
        <li>Maintain consistency with established naming conventions in other app versions.
        </li>
        <li>Propose suggestions for improved and clearer naming in discussions or comments.
        </li>
      </ul>
      <h3>Style Guide</h3>
      <p>The project utilizes SCSS. Copying and pasting CSS from other sources would be accepted only if it is formatted
        correctly to comply with SCSS conventions.</p>
      <p>use relative measurements in the scss files:</p>
      <ul>
        <li>rem, %</li>
        <li>wh, vh, dvw dvh</li>
        <li>avoid using px</li>
      </ul>
      <h3>Media queries</h3>
      <p>The placement for media queries is the standard placement - below all the other styles.</p>
      <h3>Indentation & Formatting</h3>
      <p>Maintain the project's indentation and formatting. Do not include formatting changes in your PRs, only include
        code that you have changed. It doesn't look like you have done more when you submit a PR with tons of
        indentation changes - we all see its just indentation and that makes it even more unpleasant to deal with.</p>
    </mat-expansion-panel>

    <mat-expansion-panel #commitMessages [id]="'commit-messages'" [expanded]="currentPanelId === 'commit-messages'">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Commit Message Guidelines</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>To maintain a clear and organized version history, we follow a standardized commit message convention. This
        ensures that each commit provides valuable information about the changes made. Please adhere to the following
        guidelines when crafting your commit messages:</p>
      <h3>Feature:</h3>
      <pre><code>feat(component): add new feature X</code></pre>
      <h3>Bug Fix:</h3>
      <pre><code>fix(component): resolve issue with Y</code></pre>
      <h3>Documentation Update:</h3>
      <pre><code>docs(readme): update installation instructions</code></pre>
      <h3>Code Refactor:</h3>
      <pre><code>refactor(service): restructure data fetching logic</code></pre>
      <h3>Performance Improvements:</h3>
      <pre><code>perf(api): optimize data retrieval for faster response</code></pre>
      <h3>Test:</h3>
      <pre><code>test(component): add unit tests for feature Z</code></pre>
      <h3>Chore (Release):</h3>
      <pre><code>chore: prepare for version 1.0.0 release</code></pre>
      <h3>Revert</h3>
      <pre><code>revert: revert changes from commit abc123</code></pre>
    </mat-expansion-panel>

    <mat-expansion-panel #compliance [id]="'compliance'" [expanded]="currentPanelId === 'compliance'">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Compliance</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Kindly ensure that all Pull Requests strictly adhere to our Coding Standards and Commit Message Guidelines.
        Non-compliant PRs must be adjusted prior to acceptance.</p>
      <h3>Reviewer Accountability</h3>
      <p>Reviewers who approve PRs not in alignment with the Coding Standards and Commit Message Guidelines may face
        restrictions on their approval privileges.</p>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="section">
    <p>And if you like the project, but just don't have time to contribute, that's fine. There are other easy ways to
      support the project and show your appreciation, which we would also be very happy about:</p>
    <ul>
      <li>Star the project</li>
      <li>Tweet about it</li>
      <li>Refer this project in your project's readme</li>
      <li>Mention the project at local meetups and tell your friends/colleagues</li>
    </ul>
  </div>
</div>
