<div class="road-map">
  <h1>Road Map</h1>
  <p>Issue Picker</p>
  <mat-accordion class="example-headers-align" multi>
    @for (component of featuresByComponent; track component) {
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>{{component.name}}</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table>
        <thead>
          <tr>
            <th>Feature</th>
            <th>Angular</th>
            <th>Angular Material</th>
            <th>Angular PrimaNG</th>
            <th>Analog</th>
          </tr>
        </thead>
        <tbody>
          @for (feature of component.features; track feature) {
          <tr>
            <td>
              <p>{{feature.name}}</p>
            </td>
            @for (app of feature.app; track app) {
            @if (app.status) {
            <td><mat-icon class="done">check_circle</mat-icon></td>
            } @else {
            <td>
              <a href="{{app.issueLink}}" target="_blank" rel="noopener noreferrer">
                <mat-icon class="missing">cancel</mat-icon>
              </a>
            </td>
            }
            }
          </tr>
          }
        </tbody>
      </table>
    </mat-expansion-panel>
    }
  </mat-accordion>
</div>
